
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Edu+NSW+ACT+Foundation:wght@700&family=Edu+TAS+Beginner:wght@500&display=swap');


body{
    background: url("./unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

*{
    margin: 0;
    padding: 0;
    
}


.container{
    max-width: 80vw;   
}

.quote{
    font-size: 1.4rem;
    font-weight: bolder;
    color: darkmagenta;
    text-shadow: 2px;
    font-family: 'Cormorant SC', serif;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Edu TAS Beginner', cursive;
}
hr{
    margin-top: 90px;
}
ul>li{
    height: 6vh;

}
.navbar{
    display: flex;
    height: 34px;
}

.navbar>li{
    list-style: none;
  margin: 0px 7px;
  font-size: 1.4rem;
  color: navy;
  font-weight: bolder;
  

}

a{
    text-decoration: none;
}
 a:hover{
    color: chocolate;
 } 
 
button:hover{
   background-color:rgb(15, 245, 134); 
    cursor: pointer;
}
   
.navbar>li:hover{
   
    cursor: pointer;
}
.topleft{
    width: 86%;
    height: 30%;
    
}

.topmiddle{
    width: 50%;
    height: 30%;
}
.topright{
    width: 50%;
    
    height: 30%;
}
.section1{
    /* height: 257px; */
    height: 118%;
    
}
.section1 h1{
    font-size: 2em;
    margin:5px;
    color: steelblue;

}

.section2{
    padding: 60px;
    /* margin: 500px; */
    margin: 50px;

}
.margin{
    margin: 2px;
    font-size: 5rem;
}

.flexwrap{
    flex-wrap: wrap;
}

.img{
    position:absolute;
    height: 36%;
    width: 20%;
    padding: 3px;
    justify-content: center;
    border: 2px solid silver;
    overflow: wrap;
}
.dumbell{
    width: 52px;
align-self: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
    font-weight: bolder;
    margin: 12px 2px;
    font-size: 12px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 


.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 13px;
}

footer{
    padding: 23px;
    text-align: center;
    background: thistle;
    color: black;
    border: 2px solid black;
    font-size: 20px
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}
